<template>
<slot>
</slot>
<div class="w-full h-96">
    <div class="h-full w-full" id="map" ref="map"></div>
        </div>
</template>
<script setup>
import {onMounted} from 'vue';
import { Loader } from "@googlemaps/js-api-loader";
import { ref } from 'vue';
let map = ref(null)
let markers = []
const getData = async () => {
   let data = await fetch('/api/markers')
   if (data.ok){
     let json = await(data.json())
     markers = json
     const loader =  new Loader({
     apiKey: "",
     version: "weekly",
     })
   loader.load().then(() => {
     let myLatLng = {lat: 58.24806, lng: 22.50389}
     map = new google.maps.Map(map.value, {
           zoom: 8,
           center: myLatLng
       });
   map.addListener("click", (mapsMouseEvent) => {
     let json = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
     let data = JSON.parse(json)
    var marke = new google.maps.Marker({
       position: data
   });
   map.addListener("click", () => {
       marke.setMap(null)
     });
   marke.setMap(map);
     document.getElementsByName('lng')[0].value = data.lng
     document.getElementsByName('lat')[0].value = data.lat
   });
 markers.forEach(e => {
   let latlng = {lat: e.lat, lng: e.lng}
 var marker = new google.maps.Marker({
   position: latlng,
   title:e.description,
   label:e.name
});
 marker.setMap(map);
   });
 });
 }
 else{
   console.log('no data was recived')
 }
   }
  onMounted(() => {
    getData()
  })
</script>
<style>
</style>